.custom-button {
    font-family: Open sans Condensed;
    min-width: 165px;
    width: auto;
    height: 50px;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #000;
    font-weight: bolder;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }

    &.google-sign-in {
        background-color: #4285f4;
        color: #fff;

        &:hover {
            background-color: #357ae8;
            border: none;
        }
    }
}