.header {
    display: flex;
    height: 70px;
    width: 100%;
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-between;


    .logo-container {
        height: 100%;
    }

    .logo {
        width: 100%;
        height: 100%;
    }
    .options {
        display: flex;
        width: 50%;
        height: 100%;
        gap: 1em;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}