.menu-item {
    min-width: 30%;
    border: 1px solid black;
    height: 320px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.7px 15px;
    overflow: hidden;

    &:first-child {
        margin-right: 7.5px;
    }

    &:last-child {
        margin-left: 7.5px; 
    }

    &.large {
        height: 500px;
    }

    .background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    &:hover {
        cursor: pointer;

        & .background-image {
            transform: scale(1.1);
            transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .content {
            opacity: 0.9;
        }
    }

    .content {
        position: absolute;
        height: 90px;
        padding: 0 25px; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        background-color: #fff;
        border: 1px solid black;

        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
        }

        .subtitle {
            font-weight: lighter;
            font-size: 16px;
        }
    }
}